<!DOCTYPE html>
<html>

<head>

<title>DevOps Automation</title>

</head>

<body>

<h1>Server Configured Successfully</h1>

<h2>Ansible Automation</h2>

<p>Hostname : {{ ansible_hostname }}</p>

<p>Operating System : {{ ansible_distribution }}</p>

<p>IP Address : {{ ansible_default_ipv4.address }}</p>

<p>Configured by : Dasun Sandeepa</p>

</body>

</html>